# general
alias path='echo -e ${PATH//:/\\n}'
alias vi="vim"
alias less="less -S"
alias top='htop'
alias cp='cp -p'
alias mv='mv -r'
alias reload='source ~/.zshrc'

# docker
alias docker_list='docker ps -a && docker images'

# tmux
alias tmn="tmux new-session -A -s"
alias t="tmux a"

#k8s
alias h="helm"
alias m="minikube"
alias ip="ipconfig getifaddr en0"
alias ctx="kubectx"
alias k="kubectl"
